*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    overflow-x: hidden; 
    background-color: #0f0f0f;
}

canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Navbar */
.navbar{
  z-index: 2;
  list-style: none;
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5%;
  text-emphasis: bold;
  background-color: transparent;
  transition: background-color 0.5s ease;
  padding: 10px;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  list-style: none;
}

.navbar ul li{
  flex: 1;
  text-align: center;;
}

.navbar a {
  display: block;
  color: rgb(85, 199, 98);;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  font-family: 'Poppins', sans-serif;
  padding: 10px 15px;
}



.navbar a:hover {
  color: #f0f0f0;
}
.about-content{
  width: 100vw;
  height: 100vh;
}
.hi-text{
    /* makes the elemnt fixxes when the page is scrolled */
    text-align: center;
    position: fixed;
    /* determines a stacking order. The higher the number the more important */
    z-index: 2;
    color: white;
    font-size: 5rem;
    /* Position */
    top: 20%;
    left: 50%;
    /* Moves it 20% if its width to the left and 60% of its height upward */
    transform: translate(-50%,50%);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

  
  .LinkedinImg, .GithubImg {
    width: 7%;
    height: auto;
    margin-right: 15px;
  }
  
  .LinkedinImg:hover, .GithubImg:hover {
    opacity: 0.8;
    transform: scale(1.3);
    transition: transform 0.3s, opacity 0.3s;
  }

.about h1{
  color: rgb(85, 199, 98);
  font-size: 2vw;
  font-family: 'Trebuchet MS';
  text-align: center;
  padding: 3%;
  margin-top: 1%;
}

.about-content{
  display:flex;
  margin-top: 1%;
}

.para-about{
  color: grey;
  font-size: 1.4vw;
  font-family: 'Poppins';
  text-align: left;
  margin-right: 5%;
  margin-top: .25%;
  line-height: 200%;
  width: 50%;
  height: 60%

  
}

.info{
  color: grey;
  font-size: 1.3vw;
  font-family: 'Poppins';
  text-align: left;
  padding: 20px;
  width: 50%;
  margin-left: 10%;
  line-height: 200%;

}

.about p strong{
  color:white;
  font-family: 'Trebuchet MS';
  font-size: 1.4vw;
}

.about-content2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-bottom: 20%;
}


.about-content2 img{
  width: 20%;
  height: auto;
  border-radius: 7vh;
  margin-left: 15vw;
  margin-top: -13vh;
}

.buttons-container2{
  display: flex;                  
  justify-content: space-evenly;  
  gap: 5vh;
  align-items: center;
  flex-direction: column;
  gap: 15vh;
  width: auto;           
  position: relative;
  margin-left: 65vw;
  margin-top: -35vh;
}

.about-content2 button{
  align-items: center;
}

#resume-button{
  width: 15vw;
  height: 7vh;
  border:none;
  border-radius: 1vh;
  background-color: rgb(85, 199, 98);
  font-family: 'Trebuchet MS';
  color: white;
  font-size: 1.3vw;
  font-weight: bold;
}

#email-button{
  width: 15vw;
  height: 7vh;
  border:none;
  border-radius: 1vh;
  background-color: rgb(85, 199, 98);
  font-family: 'Trebuchet MS';
  color: white;
  font-size: 1.3vw;
  font-weight: bold;
}

#email-button:hover, #resume-button:hover{
  background-color: grey;
  transform: rotate(2deg);
  transition: transform 0.3s, opacity 0.3s;
}

.about hr{
  height: 1px;
  width: 77%;
  background-color: grey;
  border: 0;
  margin-top: 15px auto;
  margin-bottom: 15px;
}

.bar1{
  height: 1px;
  width: 77%;
  background-color: grey;
  border: 0;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.projects{
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.projects h1{
  color: rgb(85, 199, 98);
  font-size: 2.4rem;
  font-family: 'Trebuchet MS';
  text-align: center;
  padding: 2%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.buttons-container {
  display: flex;                  
  justify-content: space-evenly;  
  align-items: flex-start;
  width: 100%;           
  flex-wrap: wrap;
  position: relative;
  
}

.calculator-project-button{
  width: 22vw;
  height: 70vh;
  margin-left: 0%;
  color: white;
  background-color: rgb(45, 45, 45);
  border: none;
  border-radius: 5px;
  font-family: 'Trebuchet MS';
  font-size: 20px;
}

.calculator-project-button:hover{
  background-image: url('Wesbsite Images/Calculator Photo.jpeg');
  background-size: 22vw 70vh;
  opacity: 40%;
  color: transparent;
  transform: scale3d(1.05, 1.05, 1.05) translateY(-20px);
  transition: transform 0.3s, opacity 0.3s;
}

.portfolio-Website-project-button{
  width: 35vw;
  height: 35vh;
  margin-left: 0%;
  color: white;
  background-color: rgb(45, 45, 45);
  border: none;
  border-radius: 5px;
  font-family: 'Trebuchet MS';
  font-size: 20px;
}

.portfolio-Website-project-button:hover{
  background-image: url('Wesbsite Images/Portfolio Website Photo.png');
  background-size: 35vw 35vh;
  opacity: 40%;
  color: transparent;
  transform: scale3d(1.05, 1.05, 1.05) translateY(-20px);
  transition: transform 0.3s, opacity 0.3s;
}

.future-project-button1{
  width: 35vw;
  height: 35vh;
  margin-left: 0%;
  color: white;
  background-color: rgb(45, 45, 45);
  border: none;
  border-radius: 5px;
  font-family: 'Trebuchet MS';
  font-size: 20px;
}

.future-project-button2{
  width: 72vw;
  height: 32vh;
  color: white;
  background-color: rgb(45, 45, 45);
  border: none;
  border-radius: 5px;
  font-family: 'Trebuchet MS';
  font-size: 20px;
  position: absolute; 
  bottom: 0;
  margin-left: 24%;;
}

#linkdein-logo:visited {
  color:transparent;
}